* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, sans-serif;
    /* Criar variáveis sempre no elemento raiz */
    --cor-primaria: #248332;
    --cor-secundaria: #2d3a3a;
}

body {
    padding: 16px;
}

.btn {
    border: 0;
    display: block;
    /* Referencia a variável definida na raiz */
    background-color: var(--cor-primaria);
    color: white;
    margin: 2px 0;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 20px;
}

.btn:hover {
    background-color: var(--cor-secundaria);
}

hr {
    border: 0.5px dashed var(--cor-secundaria);
    margin: 8px 0;
}

.tabela {
    /* Agora a largura vai ocupar todo o body */
    width: 100%;
    /* Junta as bordas */
    border-collapse: collapse;
}

.tabela td, .tabela th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tabela th{
    background-color: var(--cor-secundaria);
    color: white;
}

.formulario{
    background-color: #f2f2f2;
    padding: 16px;
    width: 400px;
}

.formulario input, .formulario select{
    width: 100%;
    border: 1px solid #ccc;
    padding: 12px 20px;
    border-radius: 8px;
}

.formulario .btn {
    width: 100%;
    margin-top: 10px;
}

.grupo {
    margin-top: 8px;
    margin-bottom: 8px;
}